body { 
    font-family: sans-serif; 
    background-color: #fce4ec; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
}

.app-container { 
    background: white; 
    width: 100vw; 
    max-width: 450px; 
    min-height: 100vh; 
    text-align: center; 
}

.header-pink {
    background: #e91e63;
    padding: 40px 20px;
    color: white;
    border-radius: 0 0 30px 30px;
    margin-bottom: 20px;
}

.config-notificacion {
    background: #fff;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.menu-item {
    background: #fff;
    border: 1px solid #fce4ec;
    border-radius: 20px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    padding: 20px;
}

.dia {
    width: 40px; height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    display: flex; align-items: center; justify-content: center;
}

.dia.placebo { border-color: #f06292; background-color: #fce4ec; }

.dia.tomada { background-color: #d81b60 !important; color: white; }

.btn-volver { margin: 15px; background: none; border: none; color: #e91e63; font-weight: bold; float: left; }

.btn-reset { margin-top: 30px; padding: 12px 25px; border: none; background: #880e4f; color: white; border-radius: 25px; }

#btn-permiso { background: #e91e63; color: white; border: none; padding: 8px 15px; border-radius: 20px; margin-top: 10px; }
