body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #fce4ec; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
}

.app-container { 
    background: white; 
    width: 100vw; 
    max-width: 400px; 
    min-height: 100vh; 
    text-align: center; 
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.header-pink {
    background: #e91e63;
    padding: 40px 20px;
    color: white;
    border-radius: 0 0 30px 30px;
    margin-bottom: 20px;
}

.logo { font-size: 24px; font-weight: bold; }
.logo span { font-weight: 300; }

/* Menú Principal */
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.menu-item {
    background: #fff;
    border: 1px solid #fce4ec;
    border-radius: 20px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    cursor: pointer;
}

.icon { font-size: 35px; margin-bottom: 10px; }

/* Grid del Blíster */
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    padding: 20px;
}

.dia {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: #f9f9f9;
}

/* Color para los últimos 7 días */
.dia.placebo {
    border-color: #f06292;
    background-color: #fce4ec;
}

.dia.tomada {
    background-color: #d81b60 !important;
    color: white;
    border-color: #880e4f;
}

/* Otros */
.btn-volver {
    margin: 15px;
    background: none;
    border: none;
    color: #e91e63;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.btn-reset {
    margin-top: 30px;
    padding: 12px 25px;
    border: none;
    background: #880e4f;
    color: white;
    border-radius: 25px;
}

.info-olvido { text-align: left; padding: 20px; }
.alerta-box { background: #fff3f3; border-left: 5px solid #d81b60; padding: 15px; margin-bottom: 20px; }
.config-notificacion {
    background: #fff;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.config-notificacion input {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #e91e63;
    font-size: 16px;
    margin-bottom: 10px;
}
#btn-permiso {
    display: block;
    margin: 0 auto;
    background: #e91e63;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
}
